.filter-block {
    display: flex; 
    align-items: center;
    justify-content: flex-end;
    padding-right: 0;
  
    .btn-main button {
      min-width: 110px;
      min-height: 30px;
      font-size: 14px;
    }
  
    label + .MuiInput-formControl {
      margin: 0px 5px;
    }
  
    .MuiFormLabel-filled {
      display: none;
    }
  
    .MuiInputLabel-animated{
      margin-top: 8px;
      padding-left: 8px;
    }
  
    .MuiInputLabel-formControl {
      transform: none;
    } 
  
    .MuiInputBase-input {
      padding-left: 8px;
    }
  
  }